@model TaxistaListViewModel

<div class="row m-1 p-1">
    <div class="col-12">
        <a class="btn btn-sm btn-primary pull-right" asp-controller="Taxista" asp-action="Edit" style="margin-left:10px">
            Novo <i class="fa fa-star"></i>
        </a>
        <a class="btn btn-sm btn-primary pull-right" asp-controller="Taxista" asp-action="IndexAngular" style="margin-left:10px">
            Switch to Angular View <i class="fa fa-exchange"></i>
        </a>
    </div>
</div>
<div class="row m-1 p-1">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr> 
                    <th>
                        <a asp-action="Index"
                           asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-order="@(Model.PagingInfo.OrderBy == 0 ? (@Model.PagingInfo.Order == 0 ? 1 : 0) : 0)"
                           asp-route-orderby="0">
                            Nome
                            @if (Model.PagingInfo.OrderBy == 0)
                            {
                                @if (Model.PagingInfo.Order == 0)
                                {
                                    <i class="fa fa-arrow-down"></i>
                                }
                                else
                                {
                                    <i class="fa fa-arrow-up"></i>
                                }
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index"
                           asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-order="@(Model.PagingInfo.OrderBy == 1 ? (@Model.PagingInfo.Order == 0 ? 1 : 0) : 0)"
                           asp-route-orderby="1">
                            Sobrenome
                            @if (Model.PagingInfo.OrderBy == 1)
                            {
                                @if (Model.PagingInfo.Order == 0)
                                {
                                    <i class="fa fa-arrow-down"></i>
                                }
                                else
                                {
                                    <i class="fa fa-arrow-up"></i>
                                }
                            }
                        </a>
                    </th>
                    <th>Endereço</th>
                    <th>Latitue</th>
                    <th>Longitude</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.Taxistas)
                {
                    <tr>
                        <td>
                            @t.PrimeiroNome
                        </td>
                        <td>
                            @t.UltimoNome
                        </td>
                        <td>
                            @t.Endereco
                        </td>
                        <td>
                            @t.Latitude
                        </td>
                        <td>
                            @t.Longitude
                        </td>
                        <td>
                            @t.Marca
                        </td>
                        <td>
                            @t.Modelo
                        </td>
                        <td>
                            @t.Placa
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-controller="Taxista" asp-action="Edit" asp-route-id="@t.IdTaxista">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-sm btn-danger" asp-controller="Taxista" asp-action="Remove" asp-route-id="@t.IdTaxista">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row m-1 p-1">
    <div class="col-12">
        <div page-model="@Model.PagingInfo"
             page-action="Index"
             page-classes-enabled="true"
             page-class="btn"
             page-class-normal="btn-secondary"
             page-class-selected="btn-primary"
             class="btn-group pull-right m-1">
        </div>
    </div>
</div>

